<div class="container">

  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <p>How popular have tags been over time?</p>
      </div>
    </div>
  </div>

  <div class="row">
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="text" class="form-control" id="search" ng-model="searchTags">
        <button class="btn btn-default" ng-click="addSearch(searchTags)">Add line</button>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-sm-8 graph-area">
    </div>
    <div class="col-sm-4 legend-area">
      <h2 ng-show="lineArray.length">Key</h2>
      <p ng-repeat="line in lineArray"><span style="background-color:{{colors[$index]}}; color: {{colors[$index]}}">***</span> {{line.tags.join(" ")}}</p>
    </div>
  </div>

</div>
