<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-5">
      <p>How popular have tags been over time?</p>
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="search" ng-model="searchTags">
          <button ng-click="addSearch(searchTags)">Add line</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
      <div class="col-md-6">
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="minDate" is-open="status.opened" min-date="datepickerMinDate" max-date="datepickerMaxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
      </div>

      <div class="col-md-6">
          <p class="input-group">
            <input type="date" class="form-control" datepicker-popup ng-model="maxDate" is-open="status.opened" min-date="datepickerMinDate" max-date="datepickerMaxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-8 graph-area">
    </div>
    <div class="col-sm-4 legend-area">
      <h2 ng-show="lineArray.length">Key</h2>
      <p ng-repeat="line in lineArray"><span style="background-color:{{colors[$index]}}; color: {{colors[$index]}}">***</span> {{line.tags.join(" ")}}</p>
    </div>
  </div>
