* {
  box-sizing: border-box; }

body {
 min-width: 400px;
}

.android-be-together-section {
  position: relative;
  height: 500px;
  width: auto;
  background-color: #f3f3f3;
}


.material-icons.red {
  color: #FF0000;
}

.spaceButton {
  padding-top: 40px;
}

.material-icons.md-48 {
  font-size: 48px;
  overflow: visible !important;
}
.mdl-button {
  overflow: visible;
}

.android-slogan {
  font-size: 60px;
  padding-top: 80px;
}
.android-font {
  font-family: 'And Black', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 300;
}

.android-sub-slogan {
  font-size: 21px;
  padding-top: 40px;
}
