* {
  box-sizing: border-box; }

body {
 min-width: 400px;
 min-height: 400px;
}

.android-be-together-section {
  position: relative;
  height: 400px;
  width: auto;
  background-color: #f3f3f3;
  // background: url('assets/homeGlobal.jpg') center 30% no-repeat;
  background-size: cover;
}
.android-slogan {
  font-size: 60px;
  padding-top: 50px;
}
.android-font {
  font-family: 'And Black', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 300;
}

.android-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}
