<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- <base href="/" /> -->
		<title>CryptoVeil</title>
		<!-- <link rel="stylesheet" type="text/css" href="core/css/angular-csp.css" /> -->
    	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
			<script src = "../js/dependencies/jquery-1.11.3.min.js"></script>
			<script src="../js/dependencies/lodash.js"></script>
	    <script src="../js/dependencies/angular.min.js"></script>
	    <script src="../js/dependencies/angular-ui-router.min.js"></script>
	    <script src="../js/dependencies/angular-aria.min.js"></script>
	    <script src="../js/dependencies/angular-animate.min.js"></script>
	    <script src="../js/dependencies/angular-material.min.js"></script>
	    <script src="../js/dependencies/ui-bootstrap.min.js"></script>
			<script src="../js/scripts/popup.js"></script>
	</head>
	<body>
		<button id="activateSending">Activate</button>
	</body>
</html>
