.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

path {
    fill: none;
}

svg {
    display: block;
    width: 100%;
    height: 100%;
}

svg .data-point {
    stroke: blue;
    stroke-width: 0px;
    fill: none;
}

svg .data-point-text {
    font-family: sans-serif;
    font-size: 11px;
    fill: red;
}

svg .axis path,
svg .axis line {
    fill: none;
    stroke: black;
}

svg .axis text {
    font-family: sans-serif;
    font-size: 11px;
}

svg .axis .x-axis {
  font-size: 10px;
}

@font-face {
  font-family: "And Black";
  src: url("myfont-webfont.eot?#iefix") format('embedded-opentype'),
       url("fonts/and_black.woff") format('woff'),
       url("fonts/and_black.ttf") format('truetype');
}

body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}


.android-header {
  overflow: visible;
  background-color: white;
}

.android-header .mdl-navigation__link {
  color: #757575;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}

.android-navigation-container {
  /* Simple hack to make the overflow happen to the left instead... */
  direction: rtl;
  order: 1;
  width: 500px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.android-navigation {
  /* ... and now make sure the content is actually LTR */
  direction: ltr;
  justify-content: flex-end;
  width: 800px;
}

.android-navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

.android-navigation .mdl-navigation__link:hover {
  border-bottom: 4px solid #8bc34a;
  text-decoration: none;
}

.android-be-together-section {
  position: relative;
  height: 450px;
  width: auto;
  background-color: #f3f3f3;
  background-size: cover;
}

.android-font {
  font-family: 'And Black', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 300;
}

img {
  width:100%;
  height:412px;
}

.android-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.android-chart {
  font-size: 60px;
  padding-top: 30px;
}

.android-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.android-image-link {
  text-decoration: none;
}

.android-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

.android-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

.android-auto .android-screen-image {
  display: block;
  height: 300px;
  z-index: 1;
}

.android-wear-section {
  position: relative;
  background-size: cover;
  height: 230px;
}

.android-wear-band {
  width: 100%;
  text-align: center;
  background-color: #37474f;
}

.android-wear-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

.android-wear-band-text p {
  padding-top: 8px;
}

.android-link {
  text-decoration: none;
  color: #8bc34a !important;
}

.android-link:hover {
  color: #7cb342 !important;
  text-decoration: none;
}

.android-link .material-icons {
  position: relative;
  top: 6px;
}


.android-footer {
  background-color: #fafafa;
  position: relative;
}

.android-footer a:hover {
  color: #8bc34a;
}

.android-footer .mdl-mega-footer--top-section::after {
  border-bottom: none;
}

.android-footer .mdl-mega-footer--middle-section::after {
  border-bottom: none;
}

.android-footer .mdl-mega-footer--bottom-section {
  position: relative;
}

.android-footer .mdl-mega-footer--bottom-section a {
  margin-right: 2em;
}

.android-footer .mdl-mega-footer--right-section a .material-icons {
  position: relative;
  top: 6px;
}

.android-link-menu:hover {
  cursor: pointer;
}
